<h2 class="content-subhead">Search</h2>

<form action="/search" method="GET">
  <input name="query" value="<%= params[:query] %>">
  <input type="submit" value="Search">
</form>

<h2 class="content-subhead">
  <% if params[:query].nil? %>
  Search for a chapter title
  <% elsif @results.empty? %>
  Sorry, no matches were found
  <% else %>
  Results for '<%= params[:query] %>'
  <% end %>
</h2>

<ul>
  <% @results.each do |result| %>
  <li><strong><%= result %></strong></li>
  <% end %>
</ul>
